<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Gallery</title>
    </head>

    <body>
        <h1>Here are the first 10 results</h1>
        <ol>
        {% for object in objects_p %}
            <li><a href="{{ object.url }}" target="_blank">{{object.title}}</a></li>
        {% endfor %}
        </ol>

        <h2>The 10 most frequent words in titles</h2>
        <ol>
            {% for word in words %}
                <li>{{word}}</li>
            {% endfor %}
        </ol>

        <form action="/generate_media" method="POST">
            <h2>Generate your own media gallery</h2>
            <label for="word_options">Choose a word</label>
            <select name="word_options">
                {% for word in words %}
                <option value={{word}}>{{word}}</option>
                {% endfor %}
            </select>
            <br/>
            <input type="submit" value="Generate"/>
        </form>
        

    </body>
</html>